annotated-types==0.7.0
asgiref==3.8.1
channels==4.2.2
channels_redis==4.2.1
distlib==0.3.8
Django==5.2.3
django-rest-framework-mongoengine @ git+https://github.com/umutbozkurt/django-rest-framework-mongoengine.git@2e1b2d3ce3ebd54b325b4999fe6efaf75c0aec23
dnspython==2.7.0
filelock==3.15.4
msgpack==1.1.1
paho-mqtt==2.1.0
pbr==6.0.0
platformdirs==4.2.2
ply==3.11
psycopg2-binary==2.9.10
pyasn1==0.6.0
pycryptodomex==3.20.0
pydantic==2.11.7
pydantic_core==2.33.2
pymongo==4.13.2
pysmi==0.3.4
pysnmp==4.4.12
python-dotenv==1.1.1
redis==6.2.0
setuptools==70.1.1
sqlparse==0.5.3
stevedore==5.2.0
typing-inspection==0.4.1
typing_extensions==4.14.1
virtualenv==20.26.3
virtualenv-clone==0.5.7
virtualenvwrapper==6.1.0
wheel==0.43.0
